# Backend (Spring Boot)
#do not change
SPRING_PROFILES_ACTIVE=dev
#db password
DATABASE_PASSWORD=pri
#backend application port (default:8082)
PRIB_PORT=8082
# your ip address below (default localhost)
DEV_BASE_URL=http://150.254.78.134:%s/api/v1/download/
#to accept cert do not change
JAVA_TOOL_OPTIONS=-Djavax.net.ssl.trustStore=/opt/ldap-truststore.jks -Djavax.net.ssl.trustStorePassword=changeit -Dcom.sun.jndi.ldap.object.disableEndpointIdentification=true

# Frontend (Vue.js)
#interior network name of backend - do not change
PRIB_URL=http://prib:8082/
#frontend application port (default:3000)
PRIF_PORT=3000
#bind all addresses
PRIF_HOST=0.0.0.0
#allow chosen addresses to communicate with frontend
PRIF_ALLOWED_HOSTS=all

# Watchtower cleanup
WATCHTOWER_CLEANUP=true
