# Backend (Spring Boot)
SPRING_PROFILES_ACTIVE=dev
DATABASE_PASSWORD=pri
PRIB_PORT=8082
JAVA_TOOL_OPTIONS=-Djavax.net.ssl.trustStore=/opt/ldap-truststore.jks \
 -Djavax.net.ssl.trustStorePassword=changeit \
 -Dcom.sun.jndi.ldap.object.disableEndpointIdentification=true

# Frontend (Vue.js)
PRIB_URL=http://prib:8082/
PRIF_PORT=3000
PRIF_HOST=0.0.0.0
PRIF_ALLOWED_HOSTS=all

# Watchtower
WATCHTOWER_CLEANUP=true